@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe; 
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
}

#input-output {
    width: 90%;
    display: flex;
    padding: 0.5em;
    margin: 0 auto;
}

#kInput {
    height: 24px;
    font-size: 20px;
    width: 4em;
}

#input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#input-display, #output-display {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.disabled,
.disabled:hover{
  color: #fefefe;
  font-weight: bold;
  border: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  background-color: grey;
  cursor: default;
}


.blue-button {
  background-color: #0288d1;
  color: #fefefe;
  font-weight: bold;
  border: none;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
}

.blue-button:hover {
  background-color: #225ea8;
  cursor: pointer;
}

.column {
    flex: 1;
    padding: 10px;
}

.column h2 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.pos-relative {
  position: relative;
}

.image-box {
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    height: 75vh;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.blue-text {
    color: #0288d1;
}

.padding-r2em {
    padding-right: 2em;
}
  
.tip {
    font-style: italic;
    color: grey;
}

.text-center {
  text-align: center;
}

.input-tip {
  width: 100%;
  height: 100%;
  background-color: #007bff; /* Example background color */
  border: none;
  cursor: pointer;
}